<style>
  pre {
    padding: 10px 10px;
  }
  
  .img--headshot {
    width: auto;
    height: 130px;
  }

  .sidebar {
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  @media screen and (max-width: 767px) {
    .collapsible-menu {
      position: fixed;
      background-color: #d28445;
      width: 100vw;
      left: 0px;
      z-index: 9999;
      padding: 0px 10px;
    }

    code {
      font-size: 0.7rem;
    }
    .content.container {
      padding-top: 3rem;
    }

    .sidebar {
      height: 0vh;
    }

    .sidebar-nav {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    .content {
      margin-left: 20rem;
      max-width: 60rem;
    }

    .sidebar {
      width: 288px;
    }

    .sidebar .container {
      display: flex;
      height: 100%;
      flex-direction: column;
    }

    .copyright {
      margin-top: auto;
      padding-top: 10px;
      padding-bottom: 30px;
    }
    .sidebar-nav > li:first-child { 
      display: none;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  
  @media screen and (min-width: 768px) and (max-width: 1081px){
    .content {
      margin-left: 10rem;
      margin-right: 0;
      max-width: 60rem;
    }

    .sidebar {
      width: 10rem;
      padding: 2rem 0rem;
    }

    .img--headshot {
      width: auto;
      height: 65px;
    }

    .site__title {
      font-size: 2.3rem;
    }

    .sidebar-nav {
      margin-bottom: 0.5rem;
      margin-top: 0rem;
    }
  }
</style>

<meta name="viewport" content="height=device-height, 
                      width=device-width, initial-scale=1.0, 
                      minimum-scale=1.0, maximum-scale=1.0, 
                      user-scalable=no, target-densitydpi=device-dpi">